{% extends 'quote/base.html' %}
{% load static %}
    {% block content %}
    <h1>Welcome!</h1>

    <h3 class = "about">Welcome to the Quote of the Day application!</h3>

    <h3 class = "about">This application displays quotes by and images of 
        <a href="https://en.wikipedia.org/wiki/H._P._Lovecraft">Howard Phillips Lovecraft</a> </h3>

    <h3 class = "about">Howard Phillips Lovecraft ( August 20, 1890 - March 15, 1937) was an 
        American writer of weird, horror, fantasy, and science fiction. 
        He is best known for his creation of the Cthulhu Mythos,
        but his legacy is also apparent in terms like "Lovecraftian horror" and an enduring fandom.</h3>
    
    {% endblock %}