{% extends 'quote/base.html' %}
{% load static %}
    {% block content %}
    <h3> The most merciful thing in the world is the inability of the human mind to correlate all its contents.</h3>
    <h3>That is not dead which can eternal lie,<br> And with strange aeons even death may die.</h3>
    <h3>Man is the measure of all things—only by his ignorance of other measures.</h3>
    <img src="{% static 'images/hp3.pic.jpg' %}" class = "picture">
    <img src="{% static 'images/hp4.pic.jpg' %}" class = "picture">
    <img src="{% static 'images/hp5.pic.jpg' %}" class = "picture">
    {% endblock %}