<!--
    File: base.html
    Author: Dingwen Yang (laoba@bu.edu), 2/12/2026
    Description: Base template for MiniInsta pages with shared layout and styling.
-->
{% load static %}

<html>
    <head>
        <title>title</title>
        <link rel="stylesheet" href="{% static 'styles-blog.css' %}">
    </head>

    <body>
        <head>
            <h1>MiniInsta:</h1>
        </head>

        {% block content %}
        {% endblock %}
    </body>

    <footer>
        home page:
        <a href="{% url 'show_all' %}">
            <img class="footer-home-icon" src="{% static 'images/home.pic.jpg' %}" alt="not select">
        </a>
    </footer>
</html>
