<!--
    File: show_followers.html
    Author: Dingwen Yang (laoba@bu.edu)
    Description: Show all followers for one MiniInsta profile.
-->
{% extends 'mini_insta/base.html' %}
{% block content %}
<main class="profile-detail-container">
    <article class="profile-detail-card">
        <div class="profile-detail-content">
            <h2>Followers of @{{ profile.username }}</h2>
            <p><a href="{% url 'show_profile' profile.pk %}">Back to Profile</a></p>
        </div>
    </article>

    {% for follower in profile.get_followers %}
        <article class="profile-detail-card">
            <div class="profile-detail-content">
                <p><a href="{% url 'show_profile' follower.pk %}">{{ follower.display_name }}</a></p>
                <p>@{{ follower.username }}</p>
            </div>
        </article>
    {% empty %}
        <p>No followers yet.</p>
    {% endfor %}
</main>
{% endblock %}
